:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

button:focus,
li:focus {
  outline: 1px solid #f19e9e;
}

ul {
  list-style-type: none;
  padding: 10px;
  position: absolute;
  z-index: 1;
  border: 1px solid indigo;
}
li > ul {
  position: relative;
}

.container {
  display: flex;
  gap: 50px;
}

.list {
  position: relative;
}
